# env secret
.env
secrets/

# terraform
.terraform
*.tfstate
*.tfstate.backup

# ssh keys
ssh_keys/*
!ssh_keys/.keep
ssh_config/*
!ssh_config/.keep

# kubebin
*/.kubebin/*
!*/.kubebin/.keep
*/.keys/*
!*/.keys/.keep
